// Colors
$title-color: #0b0a0a;
$text-color: #403a3a;
$text-color-light: #707070;
$container-color: #fafafa;
$container-color-alt: #f0efef;
$body-color: #fcfcfc;

// Fonts

$font: "Poppins", sans-serif;

@forward "../node_modules/bootstrap/scss/bootstrap.scss" with (
  //Color Overrides
  // $primary: $container-color,
  //Font Overrides
  $font-family-sans-serif: $font
);
