// Mobile Navigation Styles
@use "../custom" as *;

.nav-shadow-mb {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 1);
}

.bg-nav {
  background-color: $body-color;
}

@include media-breakpoint-up(sm) {
  .mobile-nav {
    display: none;
  }
}

.offcanvas-bottom {
  height: 40vh;
}

// #offcanvas {
//   box-shadow: inset 0px 11px 8px -10px #ccc;
// }
// End Mobile Navigation Styles
