@use "../custom" as *;
@use "../components/mixins" as *;

$education: bachelors, diploma, x;

@each $edu in $education {
  .education__card--#{($edu)} {
    border-left: 2px solid black;
    position: relative;
    .degree {
      padding-top: 1em;
    }
    .year {
      margin-bottom: 0;
    }
    padding-left: 1.5em;
  }

  .education__card--#{($edu)}::before {
    @include bdr-with-circle-on-top;
  }
}
