@use "../custom" as *;
@use "../components/typography" as *;
@use "../components/mixins" as *;

//List of home section info elements
$profile-info: address, email, phone;

$socials: instagram, twitter, linkedln;

.home-icons {
  padding: unset;
}

.njan-profile-pic {
  height: 150px;
}

//Media Queries

@include media-breakpoint-up(sm) {
  .resume-container__mobile {
    display: none;
  }
}

.home__bottom {
  padding-top: 2em;
}

@each $info in $profile-info {
  .home__bottom__info__#{($info)} {
    box-icon {
      margin-right: 1em;
    }
    span {
      color: $text-home-info-clr;
    }
    margin-bottom: 1em;
  }
}

@each $social in $socials {
  .home__bottom__social__item__#{($social)} {
    box-icon {
      margin-right: 1em;
    }
    margin-bottom: 0.5m;
  }
}

.social-txt {
  @include letter-spacing-2;
}
